@charset 'utf-8';
@import url(./reset.css);

body {
  font: normal 16px 'Noto Sans Korean', sans-serif;
  background-color: #666666;
  /* line-height: 1.3;
  color: #000;
  background-color: #666666;
  margin: 0;
  padding: 0; */
}

.slide {
  /* width: 375px;
  height: 43px; 
  height: 53vw;
  */
  max-width: 24vw;
  height: 48vw;
  background-color: #eeece5;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.header {
  max-width: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 1vw;
  margin-bottom: 2vw;
}
.title-wrap__avatar,
.title-wrap__title,
.title-wrap__icon-wrap {
  /* 27px */
  /* margin-left: 2vw; */
  width: 33%;
}
.title-wrap__title {
  /* 27px */
  /* margin-left: 2vw; */
  display: flex;
  justify-content: center;
}
.title-wrap__icon-wrap {
  display: flex;
  justify-content: flex-end;
}
.title-wrap__icon-wrap .icon1 {
  padding-right: 1vw;
}
.title-wrap__icon-wrap .icon2 {
}

/* 메인 정보 */
#account-status {
  width: 18vw;
  height: 10vw;
  border-radius: 1vw;
  background-color: #fff;
  margin: auto;
  box-shadow: #858585;
}
/* 통장 정보 */
.bank-account {
  max-width: 18vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.transfer {
  /* width: 50%; */
  position: absolute;
  right: 2vw;
}

.bank-account .account {
  display: flex;
  justify-content: center;
}
.bank-account .transfer {
  display: flex;
  justify-content: flex-end;
}

/* 금액 표시란 */
.total-amount {
  text-align: center;
  font-size: 14px;
}
.total-amount span {
  font-weight: 700;
  font-size: 24px;
}

/* 그래프 */
.graph-wrap {
  width: 18vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: center;
}
.balance-amount {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #858585;
}
.middle-text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
/* 이력 란 */
#history-wrap {
  height: 53vw;
  position: absolute;
}
.history {
  width: 20vw;
  height: 53vw;
  background-color: #f5f5f5;
  border-radius: 35px 35px 0px 0px;
  padding: 0vw 2vw 0vw 2vw;
  overflow: hidden;
}
.drag-btn {
  text-align: center;
  padding-top: 5px;
}

/* 저금통 */
/* 저금통 DIV */
.goal-detail {
  /* width: 24vw; */
  height: 3vw;
  margin-bottom: 1vw;
  color: white;
  font-size: 12px;
  overflow: hidden;
}
/* ul */
.goal-wrap {
  width: 24vw;
  border-radius: 5px;
  height: 3vw;
  display: flex;
  justify-content: flex-start;
}
/* li */
.goal-btn {
  width: 10vw;
  height: 3vw;
  background-color: #dadada;
  border-radius: 5px;
  margin-right: 1vw;
  /* overflow: auto; */
}
.goal-red {
  border-radius: 5px 0 0 5px;
  width: 70%;
  height: 100%;
  background-color: #ff5f00;
  position: relative;
}
.goal-yellow {
  border-radius: 5px 0 0 5px;
  width: 80%;
  height: 100%;
  background-color: #feb700;
  position: relative;
}
.goal-plus {
  color: #ff5f00;
  font-size: 12px;
}

.btn-text {
  left: 5px;
  top: 6px;
  position: absolute;
}

.history-scroll {
  width: 40vw;
  height: 19vw;
  overflow-y: auto;
}
.history-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.day-money-wrap {
  width: 20vw;
  margin-top: 1vw;
  background-color: #f5f5f5;
  font-size: 18px;
}
.day-money-wrap .day-use__wrap {
  width: 20vw;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.day-money-wrap .money-history .history__list {
  width: 20vw;
  height: 2vw;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.item {
  width: 20vw;
  font-size: 18px;
  text-align: left;
}
.price {
  width: 20vw;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
}
.price.in {
  color: #ff5f00;
}

/* 메뉴바 */
nav {
  background: linear-gradient(to bottom, #00bdb2, #c4e7b8);
  width: 24vw;
  height: 5vw;
  position: absolute;
  bottom: 0;
}
.nav-test {
  /* margin: auto; */
}

/* align-item 으로 사용하려면 높이를 지정해야한다 */
nav ul {
  height: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
}

.management {
  overflow-y: scroll;
  height: 41vw;
}
.management::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.pattern_title {
  color: #444444;
  font-size: 18px;
  font-weight: 500;
}
.type_list > ul > li {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.type_img {
  width: 30px;
  text-align: center;
}
.type_info {
  display: flex;
  justify-content: space-between;
}
.type_text {
  font-size: 18px;
  color: #000;
  margin-left: 13px;
}

.type_amount {
  font-size: 18px;
  color: #858585;
  margin-left: 13px;
}
