<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>BankApp</title>
  </head>
  <body>
    <div class="container">
      <!-- 컨테이터1 -->
      <header>
        <div class="title-wrap">
          <!-- 프로필 사진 -->
          <div class="title-wrap__avater">
            <img src="./img/아바타.svg" alt="아바타" />
            <span>생활비</span>
          </div>
          <!-- 통장 이름 -->
          <!-- <div class="title-wrap__title">생활비</div> -->
          <!-- 각종 기능 -->
          <div class="title-wrap__icon">
            <a href="" id="icon"
              ><img src="./img/간편결제아이콘.svg" alt="간편결제"
            /></a>
            <a href=""><img src="./img/검색아이콘.svg" alt="검색" /></a>
          </div>
        </div>
      </header>

      <!-- 메인 -->
      <section>
        <div class="account_status">
          <!-- 통장 번호, 이체 버튼 -->
          <div class="bank-account">
            <div>355-673877-78773</div>
            <div>이체</div>
          </div>
          <!-- 잔액 -->
          <div class="total-amount"><span>1,240,000</span>원</div>
          <!-- 그래프, 통계 -->
          <div class="graph">
            <div class="graph_img"><img src="./img/Group 37.svg" alt="" /></div>
            <div class="graph_icon">
              <a href="">
                <img src="./img/mdi_bar_chart.svg" alt="통계" />
              </a>
            </div>
          </div>
          <!-- 목표 달성 멘트 -->
          <div class="goal">5일 동안 210,000원 남음</div>
        </div>
      </section>

      <!-- 광고 -->
      <div>지금 낮은 이자로 생활대출을 신청하세요!GO</div>

      <!-- 이력 리스트 -->
      <section>
        <!-- 저금통 -->
        <div>
          <ul>
            <li>
              <p>여행가자!</p>
              <p>842,200원</p>
            </li>
            <li>
              <p>냉장고사기</p>
              <p>142,200원</p>
            </li>
            <li>
              <button>추가</button>
            </li>
          </ul>
        </div>
        <!-- 이력들 -->
        <div>
          <!-- 오늘 -->
          <ul>
            <li>오늘</li>
            <li>127,600원 지출</li>
          </ul>
          <ul>
            <li>미스터피자</li>
            <li>32,000</li>
          </ul>
          <ul>
            <li>택시</li>
            <li>4,800</li>
          </ul>
          <ul>
            <li>이마트</li>
            <li>86,000</li>
          </ul>
          <ul>
            <li>스타벅스</li>
            <li>4,800</li>
          </ul>
          <ul>
            <li>전길수</li>
            <li>+20,000</li>
          </ul>
        </div>
      </section>
      <!-- 메뉴 바 -->
      <nav>
        <ul>
          <li>홈버튼</li>
          <li>이동</li>
          <li>메세지</li>
          <li>설정</li>
        </ul>
      </nav>
    </div>
  </body>
</html>
